h1 {

    text-align: center;
}

.detail{

     margin-bottom: 10px;
     
}

.aboutme{

    background-color: aquamarine;
    



}
hr{

       background-color: black;
}

body{
 
    border-radius: 2px;


}